?body
{
    background-color:white;
}
html {
    overflow-y: scroll; 
}

.nav {
    z-index:999;
    padding-top: 6px;
    background: black;
    position: fixed;
    width: 100%;
}
.nav a {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://apod.nasa.gov/apod/image/1510/PerseusCloud_hilborn2048.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.info .container{
    padding-top: 100px;

}
.info p {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.info li {
    font-size: 35px;
    color: lightseagreen;
    text-transform: uppercase;
}


.lorem p {
  font-size: 14px;
  font-weight: bold;
}

.footer p {
  font-size: 20px;
  color: darkred;
}
@media screen and (max-width : 980px) {
    #left-content {
        width:50%;
    }
    #right-content {
        width:46%;
    }

    #wrapper {
        width:100%;
    }

        #top-image {
        background-size: 100%;
        width: 100%;
        padding-top: 54%;
        height: 0;
    }

}

@media screen and (max-width : 760px){

    /*** Main Menu Responsive ***/

