body
{
    background-color:red;
}
.navigation{
    border:solid;
    border-width:1px;
    background-color:white;
}
.links
{
    background-color:black;
    color:grey;
}
.links:hover
{
    color:white;
}