body
{
    background-color:red;
}
.navigation{
    width: 800px;
    height:45px;
    border:solid;
    border-width:1px;
    background-color:white;
}
.links
{
    height:45px;
    width:80px;
    text-align:center;
    line-height:45px;
    float:left;
    background-color:#aaaaaa;
}
.links:hover
{
    background-color:#ffffff;
}